{% extends 'base.html' %}
{% block content %}
<form method="get" action="{% url 'studentlist' %}">
  <span>学生信息表：</span>
  <input type="text" name="search" placeholder="enter class name...">
  <button type="submit">search</button>
</form>
<br>
<div><a href="{% url 'studentcreate' %}"><button>新增</button></a></div>

{% for student in studentlist %}
<span>姓名：{{student.student_name}}-----学号：{{student.student_number}}</span>
<span>性别：{{ student.student_gender }}</span>
<span>班级{{ student.student_grade }}</span>
<a href="{% url 'studentupdate' student.pk %}"><button>编辑</button></a>
<a href="{% url 'studentdelete' student.pk %}"><button>删除</button></a>
<br>
{% endfor %}
{% if page_obj.has_previous %}
<a href="?page=1">首页</a>
<a href="?page={{ page_obj.revious_page_number }}">上一页</a>
{% endif %}
{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}">下一页</a>
<a href="?page={{ page_obj.paginator.num_pages }}">尾页</a>
{% endif %} 
<!-- 当前页码 -->{{ page_obj.number }}/
<!-- 总页数 -->{{ page_obj.paginator.num_pages }}


{% endblock %}  