{% extends 'base.html' %}
{% block content %}

<h1>
  {% if object %}
  编辑班级
  {% else %}
  新建班级
  {% endif %}
</h1>
<form action="{% url 'gradecreate' %}" method="post">
  {% csrf_token %%}
  {# 遍历表单中的每个字段 第一次是grade_name,第二次是grade_number #}
  {% for field in form %}
    <div>
      {# 1.{{ field.id_for_label }}:将label和下面的input绑定,就算点击label标签的元素,也能聚焦到input框#}
      {# 2.{{ field.label }}:model里的显示字段:grade_name的verbose_name(也被叫做标签),来自form里面的model=Grade(见form.py),#}
      <label for="{{ field.id_for_label }}">{{ field.label }}:</label>{# for第一次是grade_name,所以这里会显示：班级名称 #}

      {# 下面为django自动渲染字段生成input框 #}
      {# field第一次for是grade_name,该字段是charfield,生成text input框 #}
      {# 如果field 第二次for字段类型是email,则生成一个email input框 #}
      {{ field }}
    </div>
  {% endfor %}
<button type="submit">保存</button>
</form>
{% endblock %}
