<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
  <div>
  <span><a href="{% url 'gradelist' %}">班级管理</a></span>
  <span><a href="">老师管理</a></span>
  <span><a href="{% url 'studentlist' %}">学生管理</a></span>
  <span><a href="">成绩管理</a></span>
  <span><a href="">修改密码</a></span>
  <span><a href="">退出登录</a></span>
  </div>
  <br>
  {% block content %}
  {% endblock %}
  <br>
  <div>这是base.html的footer</div>
</body>
</html>